{% extends "_layout" %}

    {% block content %} 

    {% include "/components/navbar-services.html" %}

<div class="container infoPage">
    <h1>{{ entry.title }}</h1>
    <div class="row">
        <div class="col-lg-7 col-md-12">
        {% include "/components/services-temporary-body.html" %}
        </div>
        <div class="col-lg-5 col-md-12 mt-5 mb-5">

            <ul><h5>Presort Standard Permits</h5>

            {% for block in entry.indiciaPermits.all() %}

                {% if block.typeOfPermit == 'presortStandard' %}

        <li>Presort Standard - {{ block.cityOrType }} <a href="{{ block.pdfPermit.one().getUrl() }}" target="_blank">PDF</a> or <a href="{{ block.jpgPermit.one().getUrl() }}" target="_blank">JPG</a></li>
            
                {% endif %}

            {% endfor %}
            </ul>

            <ul><h5>Non-Profit Presort Standard Permits</h5>

            {% for block in entry.indiciaPermits.all() %}

            {% if block.typeOfPermit == 'nonProfitPresortStandard' %}

        <li>Non-Profit Presort Standard - {{ block.cityOrType }} <a href="{{ block.pdfPermit.one().getUrl() }}" target="_blank">PDF</a> or <a href="{{ block.jpgPermit.one().getUrl() }}" target="_blank">JPG</a></li>
            
            {% endif %}

            {% endfor %}
            </ul>
        </div>

    </div>
</div>

    {% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

    {% include "/components/footer.html" %}

    {% endblock %}